# PANDAS DATA FRAMES 
(Using Historical Brent Crude Oil Prices)

1) Download the csv for historical Brent Crude Oil Prices from https://www.kaggle.com/mabusalah/brent-oil-prices/data

DOWNLOADED

2) Import the pandas package as pd

In [17]:
import pandas as pd

3) Create a dataframe called 'df' that reads the csv file

In [18]:
df = pd.read_csv('BrentOilPrices.csv')

In [19]:
list(df)

['Date', 'Price']

In [20]:
df.describe().transpose()

        count       mean        std  min    25%    50%      75%     max
Price  8216.0  46.332605  32.704113  9.1  18.73  31.26  67.4325  143.95

4) Use the tail function to show the last 10 weeks of prices available

In [21]:
df.tail(10)

              Date  Price
8206  Sep 17, 2019  65.59
8207  Sep 18, 2019  64.29
8208  Sep 19, 2019  64.25
8209  Sep 20, 2019  65.23
8210  Sep 23, 2019  64.66
8211  Sep 24, 2019  64.13
8212  Sep 25, 2019  62.41
8213  Sep 26, 2019  62.08
8214  Sep 27, 2019  62.48
8215  Sep 30, 2019  60.99

5) Set the first column as the Date column with the set_index() function

In [22]:
df.set_index('Date').tail(10)

              Price
Date
Sep 17, 2019  65.59
Sep 18, 2019  64.29
Sep 19, 2019  64.25
Sep 20, 2019  65.23
Sep 23, 2019  64.66
Sep 24, 2019  64.13
Sep 25, 2019  62.41
Sep 26, 2019  62.08
Sep 27, 2019  62.48
Sep 30, 2019  60.99

6) Create a variable date as the date column of the dataframe

In [23]:
date = df['Date']

7) Create a variable price as the price column of the dataframe

In [24]:
price = df['Price']

In [ ]:
df.index

RangeIndex(start=0, stop=8216, step=1)

8) Use matplotlib to graph date vs. price

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(date, price)
plt.show()

In [ ]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [ ]:
df = pd.read_csv('BrentOilPrices.csv')

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
df.size

In [ ]:
dfDate = df['Date'].tail(1000)
dfPrice = df['Price'].tail(1000)

In [ ]:
plt.scatter(dfDate, dfPrice)

In [ ]:
date = dfDate.values.reshape(-1,1)
price = dfPrice.values.reshape(-1,1)
a = (np.arange(1000) + 1).reshape(-1,1)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(a, price, test_size=0.2, random_state=0)

In [ ]:
regressor = LinearRegression() #instance of the Linear Regression Class

In [ ]:
regressor.fit(x_train, y_train)

In [ ]:
#To retrieve the intercept:
print(regressor.intercept_)
#For retrieving the slope:
print(regressor.coef_)

In [ ]:
y_pred = regressor.predict(x_test)

In [ ]:
df2 = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df2