# PANDAS

In [1]:
import pandas as pd

In [2]:
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']

In [3]:
lst

['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

In [5]:
df = pd.DataFrame(lst)

In [7]:
df.head(2)

       0
0  Geeks
1    For

In [8]:
df.set_index(0)

Empty DataFrame
Columns: []
Index: [Geeks, For, Geeks, is, portal, for, Geeks]

In [10]:
df[0]

0     Geeks
1       For
2     Geeks
3        is
4    portal
5       for
6     Geeks
Name: 0, dtype: object